* {
  box-sizing: border-box;
  }
*::after {
   box-sizing: border-box;
   }
*::before {
  box-sizing: border-box;
}

:root {
--basic-black: #000000;
--basic-grey: #333333;
--basic-blue: #81B3D2;
--basic-white: #FFFFFF;
--background-grey: #EEEEEE;
--basic-brown: #766357;
--basic-brown-hover: #604E43;
--push-brown: #503E33;
--form-chill: #F2F2F2;
--form-push: #EBEBEB;
--calendar-chill: #A9A9A9;
--extra-blue: #669EC0;
--dark-blue: #5496BD;
--basic-grey: #BDBBBC;
--icons-of-dir-chill: #CACACA;
--disabled: #6A6A6A;
}

.page {
  background-color: grey;
}

/* Global */
/* .shadow {
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
} */
 body {
  /* text-align: center; */
  /* width: 1220px; */
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  max-width: 1200px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* grid*/
/* .page {
  height: 100%;
  width: 1220px;
} */

.page-body {
  /* min-height: 100%; */
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */
.main-header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* Main navigation */

/* .main-navigation {
  /* display: flex;
  color: var(--basic-white);
  background-color: transparent;
} */

/* .main-navigation-wrapper {
  display: flex;
  width: 100%;
  background-color: var(--basic-white);
} */

.main-logo {
  /* width: 138px;
  height: 70px; */
  /* display: flex; */
  position: absolute;
  left: calc(50% - (138px / 2));
  top: 0;
  /* transform: translate(-50%); */
}

/* container */
  /* .container {
  width: 1200px;
  margin: 0 auto;
 padding: 0 auto;
} */

/* .main-navigation .container {
  display: flex;
 } */

/* .main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
} */

/* nav-list */
.nav-list {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-column-gap: 150px;
   /* max-width: 100%; */
  /* margin: 0; */
  padding: 20px 50px;
  /* padding-bottom: 15px;
  padding-top: 15px; */

  font-size: 14px;
  line-height: 15px;
  color: var(--basic-black);
  font-weight: bold;

}

.nav-list a {

  color: var(--basic-black);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--basic-blue);
}
.nav-list a:active{
  opacity: 30%;
    color: var(--basic-black);
}

/* .nav-list-current a:not([href]) {
  background-color: var(--basic-white);
}

.nav-list-current a {
  color: var(--basic-brown);
} */


/* Logo */
.main-image {
  margin: 0 auto;
 padding: 0 auto;
  /* align-items: center; */
  /* outline: 5px solid #fff000; */
  background-image: url("../img/backgroundphoto.jpg");

  height: 500px;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: auto;
      /* width: 6em; */
  position: relative;

}
.main-image img {
  margin-top: 77px;
  margin-left: 371px;
  width: 457px;
  height: 351px;
  position: absolute;
  /* position: absolute;
  z-index: 1;

  left: 400px;
top: 100px; */
}
/* .main-image::after {
  content: "";
  background-image: url("../img/intro-welcome.svg");
  position: absolute;
  left: 371px;
  margin-top: 71px;
  margin-bottom: 71px;
  right: 371px;
  width: 457px;
  height: 351px;
  background-position: 0 0;
  background-repeat: no-repeat;
} */
.main-image::before {
  content: "";
  background-image: url("../img/intro-mask.svg");
  position: absolute;
  bottom: 0;
  /* top: 1000px; */
height: 57px;
width: 1200px;
  left: 0px;
   background-repeat: no-repeat;
   padding-bottom: 0;

}

/* container*/

.header-of-description {
/* outline: 5px solid #fff000; */
text-align: center;
  /* width: 100%; */
  /* min-height: 216px; */
  /* margin: auto; */
}

.header-of-description h1 {
  /* outline: 5px solid #fff000; */
  line-height: 26px;
  padding: 42.5px 80px 11px;
  font-size: 21px;
padding-left: 365px;
    padding-right: 365px;
    /* min-height: 80px; */
    margin-bottom: 10px;
    font-weight: bold;
}

.header-of-description p {
  padding-top: 16px;
  padding-bottom: 56px;
  /* outline: 5px solid #fff000; */
  margin-top: 0px;

}





/*first-reason*/
.first-reason {
  /* outline: 5px solid #fff000; */
  margin: 0 auto;
 padding: 0 auto;
 display: grid;
 grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  min-height: 256px;
  margin-bottom: 60px;
}

.first-reason-describe {
  background: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
  padding: 0;

}

.first-reason-describe h3 {
  /* outline: 5px solid #fff000; */
  padding: auto;
  margin-bottom: 25px;
  font-size: 21px;
  /* width: 122px; */
  padding-left: 139px;
  padding-right: 139px;

}

.first-reason-describe p {
  margin: 23px;
}


/*features*/

.feature-house-image {
  display: inline-block;
  /* padding-bottom: 60px; */
  background-image: url("../img/icon-1.svg");
  width: 75px;
  min-height: 72px;
  background-repeat: no-repeat;
  vertical-align: 0px;
  /* outline: 5px solid red; */
}

.feature-food-image {
  display: inline-block;
  background-image: url("../img/icon-3.svg");
  width: 75px;
  min-height: 70px;
  background-repeat: no-repeat;
  vertical-align: 0px;
  outline: 5px solid red;
}

.feature-souvenirs-image {
  display: inline-block;
  background-image: url("../img/icon-2.svg");
  width: 64px;
  min-height: 77px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -7px;
  outline: 5px solid red;

}
.features h3 {
  font-size: 21px;
  line-height: 25px;
}

.features p {
  /* padding-left: 73px; */
  /* min-height: 42px; */
  /* max-width: 254px; */
  padding-left: auto;
  padding-bottom: 82px;
  /* padding-right: auto; */
}
.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}
.feature-item {
  text-align: center;
}

/* .feature-item p {
  margin: 0 10px;

} */
.features {
  margin-bottom: 80px;
  padding: 0 auto;
  margin: 0 auto;
  padding-left: 73px;
  padding-right: 65px;
  /* padding-bottom: 83px; */
}


/*second-reason*/
.second-reason {

  margin: 0 auto;
 padding: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1200px;
  min-height: 256px;


}
.second-reason-describe {
  background: var(--basic-blue);
  background: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
  padding: auto;

  max-width: 1200px;

  /* width: 400px; */
}

.second-reason-describe p {
  text-align: center;
  margin-bottom: 23px;
  padding: auto;
}
.second-reason-describe h3 {
  /* text-align: center; */
  /* padding: auto; */
  /* padding-top: 20px; */
  margin-bottom: 25px;
  font-size: 21px;
  min-width: 149px;
  /* padding-left: 126px;
  padding-right: 126px; */
/* outline: 5px solid #fff000; */
}

/*other reasons*/
.other-reasons {
  background-color: var(--background-grey);
  margin: 0 auto;
 padding: 0 auto;
height: 256px;
 max-width: 1200px;
 margin-bottom: 60px;
 /* margin: 0 auto;
padding: 0 auto;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 max-width: 1200px;
 min-height: 256px;
 margin-bottom: 3px;
  background-color: var(--background-grey); */
}
.other-reasons h3 {
   font-size: 21px;
  line-height: 25px;
  text-align: center;
  margin-top: 47px;
  /* margin-bottom: 23px;  */
  margin-bottom: 25px;
  font-size: 21px;
  min-width: 149px;
}
 .other-reasons p {
   /* font-size: 14px;
   line-height: 23px;
   text-align: center;
   margin-bottom: 54px;
   margin-top: 25px; */
   text-align: center;
   /* margin-bottom: 52px; */
   margin-bottom: 23px;
 }

.list-of-reasons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* column-gap: 20px; */
  margin: 0;
  padding: 0;
  list-style: none;
}


/*form*/
.search-of-hotels {
  text-align: center;
}
.header-of-form-section {
  padding-bottom: 77px;
}
.search-of-hotels h2 {
  /* padding-top: 58px; */
  padding-bottom: 10px;
}

/* .form-wrapper {
  background-color: var(--basic-white);
position: absolute;
  z-index: 1;
  top: 0;
  margin: 0 auto;
  padding: 0 auto;
} */

.link a {
  color: var(--basic-white);
  /* max-width: 568px; */
  font-size: 21px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 139px;
  padding-left: 139px;
  /* outline: 5px solid #fff000; */
  background-color: var(--basic-brown);
}


.link-wrapper{

  /* padding: 0 auto;
  margin: 0 auto;
  max-width: 568px;
  background-color: var(--basic-brown);
   padding: 30px 124px 30px 125px;
  padding-top: 30px;
  padding-bottom: 30px; */

}


.form-wrapper {
  width: 568px;
  margin: 0 auto;
  padding: 0 auto;
  min-height: 395px;
  background-color: var(--basic-white);
/* outline: 5px solid #fff000; */
  top: 0px;
  position: relative;
  padding-top: 57px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 53px;
}

.first-row {
  display: flex;
  /* justify-content: flex-start; */
  /* margin: 0 auto; */
  /* padding-top: 57px; */
  /* padding-right: 12px; */
/* outline: 5px solid #fff000; */
  /* width: 458px; */
  /* padding: 0 auto; */
  /* padding: 0; */
}

.first-row label {

  font-weight: bold;
  margin-right: 15px;
  padding-top: 7px;
}
.date-of-check-in {
  background-color: var(--form-chill);
  width: 346px;
  height: 38px;
  /* outline: 5px solid #fff000; */
  display: flex;
border: 2px solid transparent;
  padding: 6px 13px;
  justify-content: space-between;
}
.date-of-check-in input {
background-color: inherit;
outline: none;
  border: none;
flex-grow: 1;
font-weight: bold;
font-size: 14px;
color: var(--basic-black);
text-transform: uppercase;

box-sizing: border-box;

}
.date-of-check-in input::-webkit-input-placeholder {
  color: var(--basic-black);
}
.date-of-check-in input::-moz-placeholder {
  color: var(--basic-black);
  }/* Firefox 19+ */
.date-of-check-in input:-moz-placeholder {
  color: var(--basic-black);
  }/* Firefox 18- */
.date-of-check-in input:-ms-input-placeholder {
  color: var(--basic-black);
}

.date-of-check-in:hover {
  background: var(--form-push);

}

.date-of-check-in:focus-within  {
  background: var(--basic-white);
  border: 2px solid #E5E5E5;
box-sizing: border-box;
}

.second-row {
  display: flex;

}
.second-row label {
  margin-top: 27px;
  margin-right: 12px;
  padding-top: 7px;
  font-weight: bold;
}

.date-of-check-out{
  background-color: var(--form-chill);
  width: 346px;
  height: 38px;
  display: flex;
border: 2px solid transparent;
  padding: 6px 13px;
  margin-top: 29px;
  justify-content: space-between;

}
.date-of-check-out input {
  /* background-color: var(--form-chill); */
  background-color: inherit;
  outline: none;
    border: none;
    flex-grow: 1;
    font-weight: bold;
    text-transform: uppercase;

}
.date-of-check-out input::-webkit-input-placeholder {
  color: var(--basic-black);
}
.date-of-check-out input::-moz-placeholder {
  color: var(--basic-black);
  }/* Firefox 19+ */
.date-of-check-out input:-moz-placeholder {
  color: var(--basic-black);
  }/* Firefox 18- */
.date-of-check-out input:-ms-input-placeholder {
  color: var(--basic-black);
}

.date-of-check-out:hover {
  background: var(--form-push);
}
.date-of-check-out:focus-within  {
  background: var(--basic-white);
  border: 2px solid #E5E5E5;
box-sizing: border-box;
}

.third-row {

  display: flex;
justify-content: space-between;
  margin-top: 40px;
}

.adults {
  display: flex;
  flex-basis: 50%;
  margin-right:  58px;
  /* outline: 5px solid #fff000; */

}
.adults label{
  margin-right: 11px;
  padding-top: 7px;

padding-right: 22px;
font-weight: bold;
}

.minus-and-plus {
  background-color: var(--form-chill);
/* outline: 5px solid #fff000; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 114px;
  height: 38px;

  align-items: center;
  padding-left: 13px;
  padding-right: 13px;

}

.minus-and-plus input {
background-color: var(--form-chill);
  outline: none;
  border: none;

  width: 64px;
  height: 38px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;


}
.minus-and-plus button {
  border: none;
  width: 13px;
height: 3px;
/* padding-right: 13px; */
background-color: var(--calendar-chill);
display: flex;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
cursor: pointer;
outline: none;
}

.minus-wrapper {
  /* width: 410px; */
  height: 38px;
  outline: none;
  border: none;
  padding-left: 14px;
  padding-right: 13px;

  position: relative;
}


.minus-and-plus button:hover,
.minus-and-plus button:focus {
  background-color: var(--basic-black);
}

.minus-and-plus button:active {
  background-color: var(--basic-blue);
}


.kids {
  display: flex;
  flex-basis: 50%;
}
.kids label {
  margin-right: 21px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding-top: 7px;
  margin-left:
}
.plus-wrapper {
  outline: 5px solid red;
  /* width: 410px; */
  height: 38px;
  outline: none;
  border: none;
  padding-left: 14px;
  padding-right: 13px;

position: relative;

}
/* .plus-wrapper {
  background-image: url("../img/Union.svg");
  background-repeat: no-repeat;
  position: absolute;
  top:  -4px;
  left: 0px;
}
.plus-wrapper:hover,
.plus-wrapper:focus {
  fill: var(--basic-black);
} */
.plus-wrapper::before {
  content: "";
  width: 3px;
  height: 11px;
  position: absolute;
  background-color: var(--calendar-chill);
  top: 13px;
  left: 12px;
}

.plus-wrapper:hover::before,
.plus-wrapper:focus::before {
  background-color: var(--basic-black);
}
.plus-wrapper:active::before{
  background-color: var(--basic-blue);
}

.link a:hover,
.link a:focus {
  background-color: var(--basic-brown-hover);
  color: var(--basic-white);

}

.link a:active{
  background-color: var(--push-brown);
  color: rgba(255,255,255,0.3);
}
/*inputs*/





.date-of-check-out,
.date-of-check-in,
.date-of-check-in button,
.date-of-check-out button {
  position: relative;
}


.date-of-check-in button{

  border: 0;

  width: 21px;
  height: 23px;
  background: none;
  margin-left: 0;
  padding: 0;
}
.date-of-check-out button {

  border: 0;

  width: 21px;
  height: 23px;
  background: none;
  margin-left: 0;
  padding: 0;

}


button svg {
  fill: var(--calendar-chill);
}



/*buttons*/


button svg:hover,
button svg:focus {
  fill: var(--basic-black);
}

button svg:active {
  fill: var(--basic-blue);
}

.button-wrapper button[type="submit"] {
  background-color: var(--basic-blue);
   color: var(--basic-white);

   padding-right: 204px;
   /* margin-left: 55px; */
   margin-right: 55px;
   padding-left: 182px;
   padding-top: 16px;
   padding-bottom: 16px;

   border: 0;
   outline: none;
   font-weight: bold;
   font-size: 21px;
   margin-top: 54px;
   /* outline: 5px solid #fff000; */
}

.button-wrapper button[type="submit"]:hover,
.button-wrapper button[type="submit"]:focus {
  background-color: var(--extra-blue);
  color: var(--basic-white);
}

.button-wrapper button[type="submit"]:active {
  background-color: var(--dark-blue);
  color: rgba(255,255,255,0.3);
}

/* map */
.form-block {
  background-image: url("../img/map.svg");
  width: 1200px;
  background-repeat: no-repeat;
position: relative;
/* z-index: 0; */
  height: 473px;
   top: 28px;
   margin: 0 auto;
   padding: 0 auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-map {
  width: 780px;
  height: 570px;
  border: 7px solid white;
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}
/* Modal close */

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-black);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}


/* footer*/

.main-footer {
  /* background-position: 0 0; */
  /* margin-top: 30px; */

  /*
  width: 1200px; */
  /* height: 120px;ы */
  /* margin-top: 20px; */
  padding-top: 36px;
  padding-right: 138px;
  padding-left: 111px;
  padding-bottom: 36px;
  /* padding: 0 auto; */
  /* margin: 0 auto; */
  display: flex;

  justify-content: space-between;
  outline: 5px solid red;
/* outline: 5px solid red; */

  /* grid-template-columns: 1fr 1fr 1fr; */
}

/* .main-footer {
  /* padding-top: 0px; */

  /* display: grid;
  grid-template-columns: repeat(3, 1fr);

  display: flex;



} */

.telephone {
  /* margin-top: 23px; */
  /* width: 320px; */
  text-align: center;
font-weight: bold;
  /* padding-top: 23px; */
  font-size: 21px;

}

.telephone a {
  /* margin-top: 9px; */
  color: var(--basic-black);
}

.telephone a:hover,
.telephone a:focus {
  color: var(--basic-blue);
}

.telephone a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* min-width: 150px; */
  /* margin: 36px auto; */
  /* margin: auto; */
  /* padding-top: 36px; */
  list-style: none;
}

.footer-social li {
  margin-top: 36px;
  display: flex;
  margin-left: 6px;
  justify-content: space-between;
}

/* .footer-social a {
  background-image: url("../")
} */

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--extra-blue);
}
.social-button:active {
  background-color: var(--dark-blue);
}
.social-button:active path {
  opacity: 30%;
}


.from-developer {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* padding-top: 36px; */
  margin-top: 36px;
  margin-right: 8px;

}
.developer {

  max-width: 150px;
  margin-left: 8px;
  /* outline: 5px solid #fff000; */


}
.developer path {
  fill: var(--basic-black);
}

.developer:hover path,
.developer:focus path {
  fill: var(--dark-blue);
}

.developer:active path {
  opacity: 30%
}

/*inner.html */

.backgroundphoto-filter {
  background-image: url("../img/background.png");
  /* filter: blur(5px); */
  width: 1200px;
  height: 217px;
  /* display: grid; */
  /* grid-template-columns: auto 1fr auto auto; */
/* background-color: black; */
  /* display: flex;
  justify-content: space-between; */
  /*
 */
  padding-top: 26px;
  /* padding-bottom: 30px; */
  background-repeat: no-repeat;
  /* position: relative; */
  /* margin: 0 auto;
 padding: 0 auto; */
 /* outline: 5px solid #fff000; */
 padding-left: 50px;
   padding-right: 73px;
}

.filter-content form {
  display: grid;
  grid-template-columns: min-content 1fr auto;
color: var(--basic-white);
}

.first-column legend {
/* outline: 5px solid #fff000; */
/* padding-right: 117px; */
margin-right: 155px;
font-weight: bold;
font-size: 16px;
margin-bottom: 24px;
}

/* .second-column  li{
  outline: 5px solid #fff000;
  margin-right: 347px;
} */
.first-column li {
  font-weight: normal;
  font-size: 14px;
}

.price-range {
  /*  */display: flex;
  /* border: 2px solid #FFFFFF; */
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 317px;
  height: 36px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 46px;
  /* padding-top: 6.5px; */
  /*
  padding-bottom: 18.5px;
   */

}
.price-range p:first-child::before  {
  content: "";
  width: 2px;
  height: 22px;
  position: absolute;
  background-color: white;
  left: 157.5px;
  bottom: 5px;
}
.price-range input {
  border-radius: 2px solid transparent;
  box-sizing: border-box transparent;
  border: transparent;
}
.price-range input:hover,
.price-range input:focus {
  box-sizing: border-box;
  display: flex;
  border: none;
  outline: none;
  border-radius: 2px;
}


.range-controls {
  position: relative;
  /* height: 41px; */
  margin-bottom: 15px;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  /* background-color: #f1f1f1; */
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  /* opacity: 0.3; */
  mix-blend-mode: normal;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 21px;
  height: 21px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  top:8px;
  border: 9px solid #ffffff;
  width: 24px;
  height: 24px;
}
.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 210px;
}
.third-column legend {
  margin-bottom: 5px;
  font-weight: bold;
font-size: 16px;
color: var(--basic-white);
}
.filter-content button {
  padding: 7px 35px 8px 36px;
    border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 2px;
margin-left: 85px;
margin-top: 33px;
color: var(--basic-white);
background-color: transparent;
text-transform: uppercase;
cursor: pointer;
}

.filter-content button:hover,
.filter-content button:focus {
  background: var(--basic-white);
  color: var(--basic-black);
}
.second-column ul {
  margin-right: 380px;
}
.third-column  {
  margin-top: 0;

}




/* filters */


.filter-section fieldset {

justify-content: space-around;
align-content: space-around;
  padding: 0;

  margin: 0;
  /* margin-bottom: 30px; */
  border: none;
}



.filter-option label {
  /* position: relative; */
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: 25px;
}


.filter-section ul {
  list-style: none;
  /* margin-bottom: 32px; */
}



.checkbox-square:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-option label input:checked ~ .checkbox-square:after {
  display: block;

}
.filter-option label .checkbox-square:after{
  background-image: url("../img/checkbox-on.svg");
  width: 25px;
  height: 21px;
  /* outline: 5px solid red; */
}
.checkbox-square:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-option label input:disabled ~ .checkbox-square:after {
  display: block;

}
.filter-option label .checkbox-square:disabled:after:{
  background-image: url("../img/checkbox-ondisabled.svg");
  width: 25px;
  height: 21px;
  /* outline: 5px solid red; */
}
/* .filter-option label input:disabled ~ .checkbox-square:after {
  display: block;
  background-image: url("../img/checkbox-off.svg");
  color: var(--disabled);
  display: flex;
  width: 23px;
  height: 23px;
    position: relative;
    margin-right: 16px;

}
.filter-option label:disabled .checkbox-square:after {
  background-image: url("../img/checkbox-ondisabled.svg");
  width: 25px;
  height: 21px;
} */
/* .filter-option label .checkbox-square:after {

  width: 13px;
  height: 21px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(40deg);
  left: 35.5%;

bottom: 25.31%;

  background-image: url("shape.svg");
  background-color: black;

} */

/* .checkbox-square {

  border: 2px solid;
  border-color: var(--basic-white);
  display: flex;
  border-radius: 4px;
  outline: none;
  transition: 0.34s;
  cursor: pointer;

  width: 23px;
  height: 23px;
  margin-right: 16px;
  position: relative;
} */

.checkbox-square {
  background-image: url("../img/checkbox-off.svg");
  display: flex;
  width: 23px;
  height: 23px;
    position: relative;
    margin-right: 16px;

}

.checkbox-square:disabled {
  background-image: url("../img/checkbox-offdisabled.svg");
  display: flex;
  width: 23px;
  height: 23px;
    position: relative;
    margin-right: 16px;
}


.founded {
  font-weight: 700px;
  font-size: 21px;
}

.sorting-section {
  display: flex;
  justify-content: space-between;


  padding-left: 50px;

  height: 87px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sorting  {
  display: flex;
  justify-content: flex-start;



}

.sorting p {
  /* margin-top: 29px; */
font-size: 21px;
font-weight: bold;
  margin-top: 1px;
}

.sorting h3 {
  font-size: 12px;
  margin-left: 46px;
  /* margin-top: 30px; */
   /* padding-top: 8px; */
   margin-right: 40px;
   margin-top: 1px;
   font-size: 12px;
   font-weight: normal;
  /*  */
}

.sorting a {
  color: var(--basic-grey);
  border-bottom: 1px dashed var(--basic-blue);

  /* padding: 0 auto; */
  /* width: 50px; */
  height: 18px;
  /* margin-top: 32px; */
  margin-right: 32px;
  margin-top: 2px;
}

.sorting a:hover,
.sorting a:focus {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting a:active {
  color: var(--basic-black);
  border: none;
}



.buttons-of-dir button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;

}

.buttons-of-dir path {
  fill: var(--icons-of-dir-chill);
  /* outline: 5px solid #fff000; */
}
.buttons-of-dir path:hover,
.buttons-of-dir path:focus {
  fill: var(--basic-black);
}
.buttons-of-dir path:active{
  fill: var(--basic-blue);
}

/* .cards-of-hotels {
  display: grid;
  grid-auto-rows: 1fr 1fr 1fr;

} */
.cards {
  display: flex;
  outline: 5px solid red;
  padding-left: 50px;
padding-right:  50px;
padding-top: 0px;
padding-bottom: 30px;
max-width: 1200px;
  justify-content: space-between;
/* background-image: url("../img/amara.jpg"); */
background-repeat: no-repeat;
width: 100%;
height: 151px;
border-bottom: 1px solid #E5E5E5;

/*  */
/* background-color: red; */
}
.first-card {
  border-top: 1px solid #E5E5E5
}
.left-angle {
  display: flex;

}

.amara {
  background-image: url("../img/amara.jpg");
  width: 135px;
  height: 90px;
  margin-top: 30px;
}
.desert {
  background-image: url("../img/desert.jpg");
  width: 135px;
  height: 90px;
  margin-top: 30px;
}
.villas {
  background-image: url("../img/villas.jpg");
  width: 135px;
  height: 90px;
  margin-top: 30px;
}
.full-info{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* outline: 5px solid #fff000; */
margin-left: 29px;
padding-top: 0;

/*  */

/* height: 151px; */
}
.name-of-the-hotel {

  display: flex;
  /* outline: 5px solid #fff000; */
  margin: 0;
  margin-top: 23.5px;
}

.hotel-info  {
  display: flex;
  /* justify-content: space-around; */
  /* flex-direction: row; */
  /* padding-bottom: 0px; */
  /* padding: 0 auto; */
  /* outline: 5px solid #fff000; */
  line-height: 15px;
  /* align-items: center; */
  /* text-align: left; */
}
.hotel-info p {
  /* margin-bottom: 10.5px; */
  display: flex;

  /* margin-left: 10px; */
  float:left;
  text-align: left;
  margin-bottom:
  /* margin-right: 0px; */
}
.card1 p {
  margin-right: 37px;

}
.card2 p {
margin-right: 63px;
}
.card3 p{
  margin-right: 20px;
  font-size: 14px;
  font-weight: normal;

}



.buttons  {
  display: flex;
/* justify-content: space-between; */
  /* padding-bottom: 30px;  */
  margin-bottom: 30px;
  /* outline: 5px solid #fff000; */
font-weight: normal;

}
.button-details  {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  margin-right: 6px;
  justify-content: space-between;
  /* outline: 5px solid #fff000; */
  padding: 3px 17px 3px 16px;
  font-weight: bold;
font-size: 14px;
font-weight: bold;

}


.rate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* outline: 5px solid red; */
  padding-top:  0;

}

.stars {
margin-top: 29px;
display: table;
direction: rtl;
/* flex-direction: row-reverse; */
/* align-items: flex-end;
display: block; */
/* justify-content: flex-end; */
  /* outline: 5px solid #fff000; */
/* margin-bottom: 50px; */
}
/* .stars img {
  margin: auto;
} */
.rate p {
  padding-left: 15px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: var(--form-chill);
  /* background-color: black; */

  /* padding: 0; */
  height: 27px;
  margin: 0;
  color: #666666;
  text-transform: uppercase;
  /* margin-right: 73px; */

}
.button-details:hover,
.button-details:focus {
  background-color: var(--extra-blue);
  color: var(--basic-white);
}

.button-details:active {
  background-color: var(--dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-book  {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  padding: 3px 17px 3px 16px;
  font-weight: bold;
font-size: 14px;
}

.button-book:hover,
.button-book:focus {
  background-color: var(--basic-brown-hover);
  color: var(--basic-white);
}

.button-book:active {
  background-color: var(--push-brown);
  color: rgba(255,255,255,0.3);
}

.name-of-the-hotel {
  color: var(--basic-black);
}

.name-of-the-hotel:hover,
.name-of-the-hotel:focus {
  color: var(--basic-blue);
}

.name-of-the-hotel:active {
  color: rgba(0,0,0,0.3);
}
.current a {
  color: var(--basic-brown);
}

 .current path{
  fill: var(--basic-blue);
}

.sorting .current {
  color: var(--basic-blue);
  border: none;
}
