* {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

:root {
  --basic-black: #000000;
  --basic-grey: #333333;
  --basic-blue: #81b3d2;
  --basic-white: #ffffff;
  --background-grey: #eeeeee;
  --basic-brown: #766357;
  --basic-brown-hover: #604e43;
  --push-brown: #503e33;
  --form-chill: #f2f2f2;
  --form-push: #ebebeb;
  --calendar-chill: #a9a9a9;
  --extra-blue: #669ec0;
  --dark-blue: #5496bd;
  --basic-grey: #bdbbbc;
  --icons-of-dir-chill: #cacaca;
  --disabled: #6a6a6a;
}

.page {
  background-color: var(--form-chill);
  height: 100%;
}

/* Global */

body {
  position: relative;
  /* text-align: center; */
  /* width: 1220px; */
  margin: 0 auto;
  /* padding-left: 0px; */
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  max-width: 1200px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  /* height: 100%; */
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* grid*/
/* .page {
  height: 100%;
  width: 1220px;
} */

.page-body {
  /* min-height: 100%; */
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */
.main-header {
  padding-top: 14px;
  padding-bottom: 16px;
  position: relative;
  z-index: 1;
}

/* Main navigation */

/* .main-navigation {
  /* display: flex;
  color: var(--basic-white);
  background-color: transparent;
} */

/* .main-navigation-wrapper {
  display: flex;
  width: 100%;
  background-color: var(--basic-white);
} */

.main-logo {
  /*  */
  /* display: flex; */
  position: absolute;
  left: 50%;
  /* left: calc(50% - (138px / 2)); */
  top: 0;
  width: 138px;
  /* height: 30px; */
  transform: translate(-50%);
}

/* container */
/* .container {
  width: 1200px;
  margin: 0 auto;
 padding: 0 auto;
} */

/* .main-navigation .container {
  display: flex;
 } */

/* .main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
} */

/* nav-list */
.nav-list {
  display: grid;
  grid-template-columns: minmax(min-content, 228px) minmax(min-content, 1fr) minmax(min-content, 1fr) minmax(min-content, 226px);
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: bold;
  text-align: left;
  padding-left: 73px;
  padding-right: 72px;

}

.header-item-right {
  text-align: right;
}
.nav-list a {
  color: var(--basic-black);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--basic-blue);
}
.nav-list a:active {
  opacity: 30%;
  color: var(--basic-black);
}

/* .nav-list-current a:not([href]) {
  background-color: var(--basic-white);
}

.nav-list-current a {
  color: var(--basic-brown);
} */

/* Logo */
.main-image {
  padding-bottom: 73px;
  background-image: url("../img/backgroundphoto.jpg");
  height: 509px;
  background-repeat: no-repeat;
  position: relative;
}
.main-image img {
  margin-top: 77px;
  margin-left: 371px;
  width: 457px;
  height: 351px;
  position: relative;
  /* position: absolute;
  z-index: 1;

  left: 400px;
top: 100px; */
}
/* .main-image::after {
  content: "";
  background-image: url("../img/intro-welcome.svg");
  position: absolute;
  left: 371px;
  margin-top: 71px;
  margin-bottom: 71px;
  right: 371px;
  width: 457px;
  height: 351px;
  background-position: 0 0;
  background-repeat: no-repeat;
} */
.main-image::before {
  content: "";
  background-image: url("../img/mask1.svg");
  position: absolute;
  bottom: 0px;
  /* top: 1000px; */
  height: 56px;
  width: 1200px;
  left: 0px;
  /* outline: 5px solid red; */
  background-repeat: repeat;
  /* padding-bottom: 0; */
}

/* container*/

.header-of-description {
  /* outline: 5px solid #fff000; */
  text-align: center;
  padding-top: 53px;
  /* padding-left: 365px;
  padding-right: 365px; */
  padding-bottom: 44px;
  /* width: 100%; */
  /* min-height: 216px; */
  /* margin: auto; */
}

.header-of-description h1 {
  margin-left: 365px;
  margin-right: 365px;
  line-height: 26px;
  font-size: 21px;


  margin-bottom: 10px;
  font-weight: bold;
}

.header-of-description p {

  margin-top: 38px;
}

/*first-reason*/
.first-reason {


  display: grid;
  grid-template-columns: 1fr 2fr;

}

.first-reason-describe {
  background: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
  padding-top: 23px;
  padding-bottom: 0px;
}

.first-reason-describe h3 {
  /* padding: auto; */
  /* margin-bottom: 25px; */
  font-size: 21px;
  /* width: 122px; */
  padding-left: 139px;
  padding-right: 139px;
  padding-bottom: 3px;
}

.first-reason-describe p {
  margin-bottom: 23px;

  /* padding-left: 0; */
  line-height: 21px;
  align-items: center;
  padding-left: 0px;

}

/*features*/

.feature-house-image {
  display: inline-block;
  /* padding-bottom: 60px; */
  background-image: url("../img/icon-1.svg");
  width: 75px;
  min-height: 72px;
  background-repeat: no-repeat;
  vertical-align: 0px;
  /* outline: 5px solid red; */
}

.feature-food-image {
  display: inline-block;
  background-image: url("../img/icon-3.svg");
  width: 75px;
  min-height: 70px;
  background-repeat: no-repeat;
  vertical-align: 0px;
    margin-top: 2px;
}

.feature-souvenirs-image {
  display: inline-block;
  background-image: url("../img/icon-2.svg");
  width: 64px;
  min-height: 77px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: 0px;
  margin-top: -5px;
  /* outline: 5px solid red; */
}
.features h3 {
  font-size: 21px;
  line-height: 21px;
}

.features p {
  margin-top: 25px;
  line-height: 21px;
  text-align: center;
  align-items: center;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  list-style: none;
}

.feature-item {
  text-align: center;
}


.features {
  padding-bottom: 68px;
  padding-top: 60px;
}

/*second-reason*/
.second-reason {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.second-reason-describe {
  padding-top: 27px;
  background: var(--basic-blue);
  background: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);

}

.second-reason-describe p {

  margin-bottom: 23px;


  line-height: 21px;
  align-items: center;
  padding-left: 0px;


}
.second-reason-describe h3 {
  text-align: center;

  font-size: 21px;

}

/*other reasons*/
.other-reasons {
  background-color: var(--background-grey);
margin-bottom: 0px;

}
.other-reasons h3 {
  line-height: 21px;
  text-align: center;
  margin-top: 47px;
  /* margin-bottom: 23px;  */
  margin-bottom: 25px;
  font-size: 21px;
}
.other-reasons p {
  text-align: center;
  margin-bottom: 23px;
  line-height: 21px;
}

.list-of-reasons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  list-style: none;
}

/*form*/
.search-of-hotels {
  text-align: center;
}
.header-of-form-section {
  padding-top: 65px;
  padding-bottom: 31px;

}
.search-of-hotels h2 {
  /* padding-top: 58px; */
  margin-bottom: 32px;
  font-size: 30px;
line-height: 24px;
}



.link a {
  color: var(--basic-white);
  /* max-width: 568px; */
  font-size: 21px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 145px;
  padding-left: 145px;
  background-color: var(--basic-brown);
}

.link-wrapper {
  position: relative;
  width: 568px;
  margin: 0 auto;

}

.login-link {
  color: var(--basic-white);
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 29px;
  width: 100%;
  background-color: var(--basic-brown);
  vertical-align: 30px;
}

.searchForm {
  min-height: 395px;
  background-color: var(--basic-white);
  position: absolute;
  padding-top: 57px;
  width: 100%;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 53px;
  top: 85px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1;
  /* display: none; */
}

.modal-show {
  display: block;
  /* animation: bounce 0.6s; */
}
.modal-error {
  animation: shake 0.6s;
}

.first-row {
  display: flex;
}

.first-row label {
  font-weight: bold;
  margin-right: 23px;
  padding-top: 10px;
}
.date-of-check-in {
  background-color: var(--form-chill);
  width: 346px;
  height: 38px;
  /* outline: 5px solid #fff000; */
  display: flex;
  border: 2px solid transparent;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 6px;
  justify-content: space-between;
}
.date-of-check-in input {
  background-color: inherit;
  outline: none;
  border: none;
  flex-grow: 1;
  font-weight: bold;
  font-size: 14px;
  color: var(--basic-black);
  text-transform: uppercase;

  box-sizing: border-box;
}
.date-of-check-in input::-webkit-input-placeholder {
  color: var(--basic-black);
}
.date-of-check-in input::-moz-placeholder {
  color: var(--basic-black);
} /* Firefox 19+ */
.date-of-check-in input:-moz-placeholder {
  color: var(--basic-black);
} /* Firefox 18- */
.date-of-check-in input:-ms-input-placeholder {
  color: var(--basic-black);
}

.date-of-check-in:hover {
  background: var(--form-push);
}

.date-of-check-in:focus-within {
  background: var(--basic-white);
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.second-row {
  display: flex;
}
.second-row label {
  margin-top: 28px;
  margin-right: 20px;
  padding-top: 7px;
  font-weight: bold;
}

.date-of-check-out {
  background-color: var(--form-chill);
  width: 346px;
  height: 38px;
  display: flex;
  border: 2px solid transparent;
  padding-bottom: 3px;
  padding-left: 9px;
  margin-top: 29px;
  padding-right: 6px;
  /* padding-top: 5px; */
  justify-content: space-between;
}
.date-of-check-out input {
  /* background-color: var(--form-chill); */
  background-color: inherit;
  outline: none;
  border: none;
  flex-grow: 1;
  font-weight: bold;
  text-transform: uppercase;
}
.date-of-check-out input::-webkit-input-placeholder {
  color: var(--basic-black);
}
.date-of-check-out input::-moz-placeholder {
  color: var(--basic-black);
} /* Firefox 19+ */
.date-of-check-out input:-moz-placeholder {
  color: var(--basic-black);
} /* Firefox 18- */
.date-of-check-out input:-ms-input-placeholder {
  color: var(--basic-black);
}

.date-of-check-out:hover {
  background: var(--form-push);
}
.date-of-check-out:focus-within {
  background: var(--basic-white);
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.third-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.adults {
  display: flex;
  flex-basis: 50%;
  margin-right: 58px;
  /* outline: 5px solid #fff000; */
}
.adults label {
  margin-right: 18px;
  padding-top: 6px;

  padding-right: 22px;
  font-weight: bold;
}

.minus-and-plus {
  background-color: var(--form-chill);
  display: flex;
  width: 114px;
  height: 38px;

}

.minus-and-plus input {
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.minus-and-plus button {
  border: none;
  width: 39px;
  height: 100%;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
  padding: 0;
  /* background: url("../img/union.svg") 50% no-repeat; */
}

.minus button {
  border: none;
  width: 39px;
  height: 100%;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
  padding: 0;
  /* background: url("../img/union.svg") 50% no-repeat; */
  background: url("../img/minus.svg") 50% no-repeat;
}

.plus button {
  border: none;
  width: 39px;
  height: 100%;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
  padding: 0;
  background: url("../img/union.svg") 50% no-repeat;
  margin-right: 0px;
}
.minus button:hover,
.minus button:focus {
background: url("../img/minusHover.svg") 50% no-repeat;
}

.minus button:active {
  background: url("../img/minusActive.svg") 50% no-repeat;
}

.plus button:hover,
.plus button:focus {
  background: url("../img/unionHover.svg") 50% no-repeat;
}
.plus button:active {
background: url("../img/unionActive.svg") 50% no-repeat;
}
.minus-wrapper {
  /* width: 410px; */
  height: 38px;
  outline: none;
  border: none;
  padding-left: 14px;
  padding-right: 13px;

  position: relative;
}

.kids {
  display: flex;
  flex-basis: 50%;
}
.kids label {
  /* margin-right: 8px; */
  margin-right: 27px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding-top: 6px;
  margin-left: -5px;
}

.plus-wrapper {

  /* width: 410px; */
  height: 38px;
  outline: none;
  border: none;
  /* padding-left: 14px; */
  /* padding-right: 20px; */

  position: relative;
}
/* .plus-wrapper {
  background-image: url("../img/Union.svg");
  background-repeat: no-repeat;
  position: absolute;
  top:  -4px;
  left: 0px;
}
.plus-wrapper:hover,
.plus-wrapper:focus {
  fill: var(--basic-black);
} */
.plus-wrapper::before {
  outline: 5px solid red;
  content: "";
  width: 3px;
  height: 11px;
  position: absolute;
  background-color: var(--calendar-chill);
  top: 13px;
  left: 12px;
  cursor: pointer;
  /* outline: 5px solid red; */
}

.plus-wrapper:hover::before,
.plus-wrapper:focus::before {
  background-color: var(--basic-black);
}
.plus-wrapper:active::before {
  background-color: var(--basic-blue);
}

.link a:hover,
.link a:focus {
  background-color: var(--basic-brown-hover);
  color: var(--basic-white);
}

.link a:active {
  background-color: var(--push-brown);
  color: rgba(255, 255, 255, 0.3);
}
/*inputs*/

.date-of-check-out,
.date-of-check-in,
.date-of-check-in button,
.date-of-check-out button {
  position: relative;
}

.date-of-check-in button {
  border: 0;
  outline: none;
  cursor: pointer;
  width: 21px;
  height: 23px;
  background: none;
  margin-left: 0;
  padding: 0;
}
.date-of-check-out button {
  border: 0;
  outline: none;
  cursor: pointer;
  width: 21px;
  height: 23px;
  background: none;
  margin-left: 0;
  padding: 0;
}

button svg {
  /* outline: 5px solid red; */
  fill: var(--calendar-chill);
  margin-top: 5px;
}

/*buttons*/

button svg:hover,
button svg:focus {
  fill: var(--basic-black);
}

button svg:active {
  fill: var(--basic-blue);
}

.button-wrapper button[type="submit"] {
  background-color: var(--basic-blue);
  color: var(--basic-white);
align-items: center;
  cursor: pointer;
  padding-right: 197px;
  /* margin-left: 55px; */
  margin-right: 55px;
  padding-left: 195px;
  padding-top: 18px;
  padding-bottom: 14px;
text-align: center;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 21px;
  margin-top: 54px;
  /* outline: 5px solid #fff000; */
}

.button-wrapper button[type="submit"]:hover,
.button-wrapper button[type="submit"]:focus {
  background-color: var(--extra-blue);
  color: var(--basic-white);
}

.button-wrapper button[type="submit"]:active {
  background-color: var(--dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

/* map */

.modal {

  /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

  margin: auto; */
  /* color: var(--basic-black); */
  /* background-color: var(--basic-extra-light); */
  /* background-image: url("img/pattern-light.jpg"); */
  background-position: 0 0;
  background-repeat: no-repeat;
  /* box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7); */
}
.modal-map {
  background-image: url("../img/map.jpg");
  width: 100%;
  /* height: 475px; */
  /* position: absolute; */
  /* top:  2245px; */
  /* bottom: 0; */
z-index: 0;
}

/* .modal-map img {
  display: block;
} */

.modal-map iframe {
  border: none;
  width: 100%;
  height: 550px;
  position: relative;
  bottom: 3px;
  /* z-index: 2; */
  /* display: none; */
  border: none;
}
/* Modal close */

/* .modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-black);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
} */

/* footer*/

.main-footer {
  padding-top: 0px;
  padding-right: 130px;
  padding-left: 124px;
  display: flex;
  justify-content: space-between;
  /* outline: 5px solid red; */

}

.page-footer {
  position: absolute;
bottom: 0;
left: 0;
background-color: var(--basic-white);
width: 100%;
}



.telephone {
  /* margin-top: 23px; */
  /* width: 320px; */
  text-align: center;
  font-weight: bold;
  /* padding-top: 23px; */
  font-size: 21px;
  line-height: 26px;
}

.telephone p {
  margin-bottom: 10px;
}

.telephone a {
  /* margin-top: 9px; */
  color: var(--basic-black);
}

.telephone a:hover,
.telephone a:focus {
  color: var(--basic-blue);
}

.telephone a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* min-width: 150px; */
  /* margin: 36px auto; */
  /* margin: auto; */
  /* padding-top: 36px; */
  list-style: none;
  margin-right: 18px;
}

.footer-social li {
  margin-top: 34px;
  display: flex;
  margin-left: 6px;
  justify-content: space-between;
}

/* .footer-social a {
  background-image: url("../")
} */

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--extra-blue);
}
.social-button:active {
  background-color: var(--dark-blue);
}
.social-button:active path {
  opacity: 30%;
}

.from-developer {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* padding-top: 36px; */
  margin-top: 32px;
  margin-right: 10px;
}
.developer {
  max-width: 150px;
  margin-left: 8px;
  margin-top:4px;
  /* outline: 5px solid #fff000; */
}
.developer path {
  fill: var(--basic-black);
}

.developer:hover path,
.developer:focus path {
  fill: var(--dark-blue);
}

.developer:active path {
  opacity: 30%;
}

/*inner.html */

.backgroundphoto-filter {
  background-image: url("../img/background.png");
  width: 1200px;
  height: 219px;
  padding-top: 26px;
  background-repeat: no-repeat;
  padding-left: 71px;
  padding-right: 73px;
  /* padding-bottom: 32.5px; */
}

.filter-content form {
  display: grid;
  grid-template-columns: min-content 1fr auto;
  color: var(--basic-white);
}

.first-column legend {
  /* outline: 5px solid #fff000; */
  /* padding-right: 117px; */
  margin-right: 117px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 26px;
}


.first-column li {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* outline: 5px solid red; */
}

.price-range {
  /*  */
  display: flex;
  /* border: 2px solid #FFFFFF; */
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 318px;
  height: 36px;
  position: relative;
  text-align: center;
  align-items: center;
  /* justify-content: space-around; */



  padding-bottom: 5px;

}
.start-price{
  margin-left: 65px;
}

.finish-price {
  padding-left: 120px;
}
.price-range p:first-child::before {
  content: "";
  width: 2px;
  height: 22px;
  position: absolute;
  background-color: white;
  left: 157.5px;
  bottom: 5px;
}
/* .price-range input {
  border-radius: 2px solid transparent;
  box-sizing: border-box transparent;
  border: transparent;
}
.price-range input:hover,
.price-range input:focus {
  box-sizing: border-box;
  display: flex;
  border: none;
  outline: none;
  border-radius: 2px;
} */

.range-controls {
  position: relative;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: normal;

}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 19px;
  height: 19px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  top: 8px;
  border: 9px solid #ffffff;
  width: 24px;
  height: 24px;
}
.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 255px;
}
.third-column legend {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}
.filter-content button {
  padding: 7px 33px 9px 36px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 85px;
  margin-top: 18px;
  color: var(--basic-white);
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  /* ; */
  /* outline: 5px solid red; */
}

.filter-content button:hover,
.filter-content button:focus {
  background: var(--basic-white);
  color: var(--basic-black);
}
.filter-content button:active {
  outline: none;
  border-color: transparent;
  border: 2px solid #ffffff;
}


.third-column {
  margin-top: 0;
}

/* filters */

.filter-section fieldset {
  justify-content: space-around;
  align-content: space-around;
  padding: 0;

  margin: 0;

  border: none;
}

.filter-option label {
  /* position: relative; */
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: 23px;
}

.filter-section ul {
  list-style: none;
  /* margin-bottom: 32px; */
}

.checkbox-square:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-option label input:checked ~ .checkbox-square:after {
  display: block;
}
.filter-option label input:checked ~ .checkbox-square {
  background-image: url("../img/shapeChecked.svg");
}
.filter-option label .checkbox-square:after {
  background-image: url("../img/checkbox-on.svg");
  width: 25px;
  height: 21px;
  /* outline: 5px solid red; */
}
.checkbox-square:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-option label input:disabled ~ .checkbox-square:after {
  display: block;
}
.filter-option label .checkbox-square:disabled:after {
  background-image: url("../img/checkbox-ondisabled.svg");
  width: 25px;
  height: 21px;
  /* outline: 5px solid red; */
}

.checkbox-square {
  background-image: url("../img/checkbox-off.svg");
  display: flex;
  width: 23px;
  height: 23px;
  position: relative;
  margin-right: 18px;
}

.checkbox-square:disabled {
  background-image: url("../img/checkbox-offdisabled.svg");
  display: flex;
  width: 23px;
  height: 23px;
  position: relative;
  margin-right: 16px;
}

.founded {
  font-weight: 700px;
  font-size: 21px;
}

.sorting-section {
  display: flex;
  justify-content: space-between;

  padding-left: 72px;
line-height: 26px;
  height: 87px;
  padding-right: 68px;
  padding-top: 27px;
  /* padding-bottom: 35px; */
}

.sorting {
  display: flex;
  justify-content: flex-start;
}

.sorting p {
  /* margin-top: 29px; */
  font-size: 21px;
  font-weight: bold;
  margin-top: 1px;
}

.sorting h3 {
  font-size: 12px;
  margin-left: 47px;
  /* margin-top: 30px; */
  /* padding-top: 8px; */
  margin-right: 40px;
  margin-top: 3px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  /*  */
}

.sorting a {
  color: var(--basic-grey);
  border-bottom: 1px dashed var(--basic-blue);

  /* padding: 0 auto; */
  /* width: 50px; */
  height: 18px;
  /* margin-top: 32px; */
  margin-right: 33px;
  margin-top: 3px;
  line-height: 18px;
  font-size: 12px;
}

.sorting a:hover,
.sorting a:focus {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting a:active {
  color: var(--basic-black);
  border: none;
}
.buttons-of-dir {
  outline: 5px solid #fff000;
  margin-top: 4px;
  /* margin-left: 4px; */
}
.buttons-of-dir button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  padding-left: 2px;
}

.buttons-of-dir path {
  fill: var(--icons-of-dir-chill);
}
.buttons-of-dir path:hover,
.buttons-of-dir path:focus {
  fill: var(--basic-black);
}
.buttons-of-dir path:active {
  fill: var(--basic-blue);
}


.cards {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 24px;
  padding-bottom: 30px;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}
.first-card {
  border-top: 1px solid #e5e5e5;
}
.left-angle {
  display: flex;
}

.amara {
  background-image: url("../img/amara.jpg");
  width: 135px;
  height: 90px;
  margin-top: 6px;
}
.desert {
  background-image: url("../img/desert.jpg");
  width: 135px;
  height: 90px;
  margin-top: 6px;

}
.villas {
  background-image: url("../img/villas.jpg");
  width: 135px;
  height: 90px;
  margin-top: 6px;
}
.full-info {
  margin-left: 29px;
}
.name-of-the-hotel {
  display: flex;
  /* outline: 5px solid #fff000; */
  margin: 0;
  font-size: 21px;
line-height: 26px;
  text-transform: uppercase;
}

.hotel-info {
  display: flex;
  font-size: 14px;
line-height: 21px;
margin-top: 7px;
margin-bottom: 15px;
}

.price {
  margin-left: 1px;
  margin-top: 200px;
}
.card1 p {
  margin-right: 37px;
}

.hotel-info p {
  margin: 0;
}
.card2 p {
  /* margin-top: 7px; */
  margin-right: 63px;
}
/* .card2 h3 {
margin-top: 24px;
margin-left: 1px;
} */
.card3 p {

  margin-right: 20px;

}

.buttons {
  display: flex;
  font-weight: normal;
}
.button-details {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  margin-right: 6px;
  /* outline: 5px solid #fff000; */
  font-weight: bold;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  padding-left: 16px;
  padding-right: 17px;
  padding-top: 3px;
  padding-bottom: 2px;

  /* text-align: center; */
  /* margin-top: 4px; */
}

.rate-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-between;
  /* align-self: flex-end; */
  /* padding-top: 0; */
  outline: 5px solid red;
}

.stars {
  padding-top:4px;
  display: flex;
  justify-content:flex-end;
}

.stars img {
  margin-left: 5px;
}

.rate p {
  padding-left: 15px;
  padding-right: 12px;
margin-top: 47px;

  background-color: var(--form-chill);
  color: #666666;
  text-transform: uppercase;
margin-bottom: 0;
}
.button-details:hover,
.button-details:focus {
  background-color: var(--extra-blue);
  color: var(--basic-white);
}

.button-details:active {
  background-color: var(--dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  padding: 3px 18px 3px 16px;
  font-weight: bold;
  font-size: 14px;
    line-height: 21px;
}

.button-book:hover,
.button-book:focus {
  background-color: var(--basic-brown-hover);
  color: var(--basic-white);
}

.button-book:active {
  background-color: var(--push-brown);
  color: rgba(255, 255, 255, 0.3);
}

.name-of-the-hotel {
  color: var(--basic-black);
}

.name-of-the-hotel:hover,
.name-of-the-hotel:focus {
  color: var(--basic-blue);
}

.name-of-the-hotel:active {
  color: rgba(0, 0, 0, 0.3);
}
.current a {
  color: var(--basic-brown);
}

.current path {
  fill: var(--basic-blue);
}

.sorting .current {
  color: var(--basic-blue);
  border: none;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
